<div class='row'>
  <div class='col-md-12'>
    <div class="page-header">
      <h3 class='text-center'>
        <%= t(:ordered_products_count) %>
      </h3>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">
            <%= t(:image) %>
          </th>
          <th class="text-center">
            <%= t(:name) %>
          </th>
          <th class="text-center">
            <%= t(:description) %>
          </th>
          <th class="text-center">
            <%= t(:price) %>
          </th>
          <th class="text-center">
            <%= t(:count) %>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <%= image_tag @ordered_product.product.photo.url,
                          class: "img-rounded MyImageSize" %>
          </td>
          <td>
            <%= "#{@ordered_product.product.name}" %>
          </td>
          <td class="long_words_breaker">
            <%= @ordered_product.product.description %>
          </td>
          <td>
            <%= @ordered_product.product.price %>
          </td>

          <td class="text-center">
            <%= form_for(@ordered_product,
                         url: ordered_product_path(@ordered_product.id),
                         :html => { class: "form-inline MyFormSize"}) do |f| %>

              <div class="form-group">
                <%= f.label :count, class: "sr-only" %>
                <%= f.number_field :count,
                                   min: '1',
                                   class: 'form-control text-center' %>
              </div>
              <br>
              <br>
              <%= f.submit t(:save), class: "btn btn-primary" %>
            <% end %>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
