<div class='row'>
  <div class='col-md-12'>
    <div class="page-header">
      <h3 class='text-center'>
        <%= t(:edit_order) %>
      </h3>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-md-12 text-center">
    <%= render partial: 'shared/form_errors', locals: { object: @order } %>
  </div>
</div>

<div class='row'>
  <div class="col-md-12">
    <%= form_for @order do |f| %>

      <div class='form-group'>
        <%= f.label :customer_name, t(:user_name) %>
        <%= f.text_field :customer_name, readonly: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :phone, t(:phone) %>
        <%= f.text_field :phone, readonly: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :email, t(:email) %>
        <%= f.email_field :email, readonly: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :description, t(:description) %>
        <%= f.text_area :description, readonly: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :status_description, t(:status_description) %>
        <%= f.text_area :status_description, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :status, t(:order_status) %>
        <%= f.select :status,
                     Order.statuses.
                           keys.to_a.map { |key| [t("status_#{key}"), key] },
                     class: 'form-control' %>

      <%= f.submit t(:send), class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
