<p><%= t(:devise_hello) %> <%= @resource.email %>!</p>

<p><%= t(:devise_introduction) %></p>

<p><%= link_to t(:devise_change_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:devise_else_propose_1) %></p>
<p><%= t(:devise_else_propose_2) %></p>
